/* Global Styles */
body {
    margin-left: 150px;
    background-image: url('Backgnd.gif');
    background-color: #FFFFFF;
    font-family: Verdana, Tahoma, Arial, Helvetica;
}

.content {
    margin: 3em;
}

/* Titles and Headings */
.title-main,
.subtitle,
h2.table-title,
.chapter-header h2 {
    font-weight: bold;
}

.title-main {
    font-size: 2.5em;
}

.subtitle,
h2.table-title {
    font-size: 1.5em;
}

/* Links and Notes */
.web-link,
.note,
.lecture-links .lecture-link {
    font-size: 1em;
    font-weight: bold;
    width: 600px;
}

/* Table of Contents */
ul.table-of-contents {
    padding-left: 40px;
}

ul.table-of-contents li {
    font-weight: bold;
    margin-bottom: 0.5em;
    list-style-type: none;
}

/* Chapter Styles */
.chapter-container {
    width: 500px;
    margin-left: 50px;
}

.chapter-duration {
    font-size: 0.8em;
}

.hr-left {
    align-self: flex-start;
    width: 100%;
    border: 0;
    height: 8px;
    background-color: gray;
    margin-top: 30px;
}

/* Code Links */
.code-link {
    font-size: 0.9em;
}

.code-links {
    margin-top: -1em;
    font-size: 0.8em;
    display: block;
    margin-bottom: 1em;
}

.back-to-toc {
    font-size: 0.9em;
}

/* Text Content */
.chapter-description p,
.license-description p {
    font-size: 1.0em;
    margin-bottom: 1em;
}

.license-description {
    max-width: 80ch;
}

/* Miscellaneous */
.thin-hr {
    height: 2px;
}
